.App {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.App > main {
  flex-grow: 1;
}

.App > * {
  margin: 0px auto;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.big {
  font-size: 64px;
}

.small {
  font-size: 18px;
}